.body {
  min-height: 99.85vh;
  display: flex;
  flex-direction: column;
}
.home_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.quiz_card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 45vh;
  margin: 3vh;
}

.quiz_card:hover {
  transform: translateY(-5px) scale(1.075);
}

@media (max-width: 768px) {
  .home_page {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 480px) {
  .quiz_card {
    width: 100%;
  }
}
